/swp391_petshop_project/nbproject/private/
/UserManager/nbproject/private/
/testFE/nbproject/private/
/testFE/build/
/WebApplication1/nbproject/private/
/nbproject/private/
/nbproject/
/dist/
/build/
/FPTSHOP_Pet/QuangAnh2004/build/
/FPTSHOP_Pet/QuangAnh2004/dist/
/FPTSHOP_Pet/QuangAnh2004/nbproject/private/
nbproject/private/
nbproject/private/private.properties
nbproject/private/private.xml
nbbuild.properties

