<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>Controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>Controller.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>Controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderContentServlet</servlet-name>
        <servlet-class>Controller.OrderContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCancelServlet</servlet-name>
        <servlet-class>Controller.RequestCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>Controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewOrderServlet</servlet-name>
        <servlet-class>Controller.ReviewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportInvoiceServlet</servlet-name>
        <servlet-class>Controller.ExportInvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderContentServlet</servlet-name>
        <url-pattern>/OrderContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCancelServlet</servlet-name>
        <url-pattern>/RequestCancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewOrderServlet</servlet-name>
        <url-pattern>/ReviewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportInvoiceServlet</servlet-name>
        <url-pattern>/exportInvoice</url-pattern>
    </servlet-mapping>
</web-app>
