<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <servlet-class>Controllers.DisplayOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginServlet</servlet-name>
        <servlet-class>Controllers.TestLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <servlet-class>Controllers.DisplayOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>Controllers.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <servlet-class>Controllers.DisplayAllPetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <url-pattern>/displayorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/updateorderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <url-pattern>/displayallpet</url-pattern>
    </servlet-mapping>
</web-app>
