<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>
        <servlet-name>ListShopPetServlet</servlet-name>
        <servlet-class>Controllers.ListShopPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPetServlet</servlet-name>
        <servlet-class>Controllers.DisplayPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>Controllers.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCart</servlet-name>
        <servlet-class>Controllers.DeleteFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountCheckServlet</servlet-name>
        <servlet-class>Controllers.DiscountCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <servlet-class>Controllers.DisplayOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginServlet</servlet-name>
        <servlet-class>Controllers.TestLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <servlet-class>Controllers.DisplayOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>Controllers.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <servlet-class>Controllers.DisplayAllPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetStatus</servlet-name>
        <servlet-class>Controllers.UpdatePetStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetServlet</servlet-name>
        <servlet-class>Controllers.UpdatePetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListShopPetServlet</servlet-name>
        <url-pattern>/listshoppet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPetServlet</servlet-name>
        <url-pattern>/displaypet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/displaycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCart</servlet-name>
        <url-pattern>/deletefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountCheckServlet</servlet-name>
        <url-pattern>/check-discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <url-pattern>/displayorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <url-pattern>/displayorderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/updateorderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <url-pattern>/displayallpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetStatus</servlet-name>
        <url-pattern>/updatepetstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetServlet</servlet-name>
        <url-pattern>/updatepet</url-pattern>
    </servlet-mapping>

</web-app>
