<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                              https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Shop & Cart related servlets -->
    <servlet>
        <servlet-name>ListShopPetServlet</servlet-name>
        <servlet-class>Controllers.ListShopPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPetServlet</servlet-name>
        <servlet-class>Controllers.DisplayPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCartServlet</servlet-name>
        <servlet-class>Controllers.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCart</servlet-name>
        <servlet-class>Controllers.DeleteFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountCheckServlet</servlet-name>
        <servlet-class>Controllers.DiscountCheckServlet</servlet-class>
    </servlet>
    <!-- Order & Admin related servlets -->
    <servlet>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <servlet-class>Controllers.SellerDisplayOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <servlet-class>Controllers.SellerDisplayOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>Controllers.SellerUpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <servlet-class>Controllers.SellerDisplayAllPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetStatus</servlet-name>
        <servlet-class>Controllers.SellerUpdatePetStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetServlet</servlet-name>
        <servlet-class>Controllers.SellerUpdatePetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>Controllers.SellerAddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerQuickLoginServlet</servlet-name>
        <servlet-class>Controllers.SellerQuickLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerPetImageActionServlet</servlet-name>
        <servlet-class>Controllers.SellerPetImageActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Panel_Servlet</servlet-name>
        <servlet-class>Controllers.Admin_Panel_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Account_Servlet</servlet-name>
        <servlet-class>Controllers.Login_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Google_Servlet</servlet-name>
        <servlet-class>Controllers.Login_Google_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Account_Servlet</servlet-name>
        <servlet-class>Controllers.Register_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recover_Account_Servlet</servlet-name>
        <servlet-class>Controllers.Recover_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Account_Servlet</servlet-name>
        <servlet-class>Controllers.Logout_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile_Account_Servlet</servlet-name>
        <servlet-class>Controllers.Profile_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile_Avatar_Servlet</servlet-name>
        <servlet-class>Controller.Profile_Avatar_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage_Servlet</servlet-name>
        <servlet-class>Controllers.Homepage_Servlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>SellerComingSoonServlet</servlet-name>
        <servlet-class>Controllers.SellerComingSoonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDisplayBreedServlet</servlet-name>
        <servlet-class>Controllers.ManagerDisplayBreedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>Controllers.BlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListShopPetServlet</servlet-name>
        <url-pattern>/listshoppet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPetServlet</servlet-name>
        <url-pattern>/displaypet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCartServlet</servlet-name>
        <url-pattern>/displaycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCart</servlet-name>
        <url-pattern>/deletefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountCheckServlet</servlet-name>
        <url-pattern>/check-discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderServlet</servlet-name>
        <url-pattern>/displayorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderDetail</servlet-name>
        <url-pattern>/displayorderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/updateorderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllPetServlet</servlet-name>
        <url-pattern>/displayallpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetStatus</servlet-name>
        <url-pattern>/updatepetstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetServlet</servlet-name>
        <url-pattern>/updatepet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Account_Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Google_Servlet</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Account_Servlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recover_Account_Servlet</servlet-name>
        <url-pattern>/recover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Account_Servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile_Account_Servlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile_Avatar_Servlet</servlet-name>
        <url-pattern>/avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage_Servlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Panel_Servlet</servlet-name>
        <url-pattern>/admin-panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/addpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerQuickLoginServlet</servlet-name>
        <url-pattern>/quicklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerPetImageActionServlet</servlet-name>
        <url-pattern>/petimageaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerComingSoonServlet</servlet-name>
        <url-pattern>/comingsoon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDisplayBreedServlet</servlet-name>
        <url-pattern>/displaybreed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
