<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscount</servlet-name>
        <servlet-class>controller.manager.managediscount.ManageDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscount</servlet-name>
        <servlet-class>controller.manager.managediscount.AddDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscount</servlet-name>
        <servlet-class>controller.manager.managediscount.DeleteDiscount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscount</servlet-name>
        <url-pattern>/ManageDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscount</servlet-name>
        <url-pattern>/AddDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscount</servlet-name>
        <url-pattern>/DeleteDiscount</url-pattern>
    </servlet-mapping>
</web-app>
